{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

<div class="event_list_item">
    {% image event.featured_image original as background %}
    <div class="event_list_item_graphic" style="background-image:url({{ background.url }})"></div>
    <div class="event_list_item_content">
        <div class="row">
            <div class="calendar_date col-sm-2 col-12">
                <div class="month">{{ event.start_date|date:"b"|upper }}</div>
                <div class="day">{{ event.start_date|date:"d" }}</div>
            </div>
            <div class="col-12 col-sm-10 event_list_item_header">
                <div class="event_list_item_title">{{ event.title }}</div>
                <div class="event_list_item_location">{{event.location}}</div>
            </div>
        </div>
        <hr style="background-color:black">
        <div class="event_list_item_body">
            {{ event.summary|truncatechars:215|richtext }}
        </div>
        <a class="align-self-end event_list_item_button" href="{{ event.url }}"><div>Learn More</div></a>
    </div>
</div>