{% extends 'home/base_page_with_hero.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block content_class %}detail_page_body{% endblock %}

{% block hero_image_alternate %}
    <img src="{% static 'img/events.jpg' %}" class="hero_graphic"/>
{% endblock %}

{% block content %}

    {% if page.body %}
        {% for block in page.body %}
            {% include_block block with last=forloop.last %}
        {% endfor %}
        <div class="row_space_below"></div>
    {% endif %}

    {% if page.event_presentations.all|length > 1 %}
        <div class="row presentation_banner">
            <div class="col-12">
                <div class="content_container">
                    <div class="row">
                        {% for presentation in page.event_presentations.all %}
                            {% include "events/blocks/presentation.html" with presentation=presentation %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row_space_below"></div>
                <div class="row_space_below"></div>
            </div>
        </div>
    {% endif %}

{% endblock %}

