{% extends 'home/base_page_with_hero.html' %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-event{% endblock %}

{% block content %}

    {% if page.excerpt %}
    <div class="row detail_page_excerpt">
        {% if page.excerpt_graphic %}
        <div class="col-md-6 col-12">
            {% image page.excerpt_graphic original class="detail_page_graphic" %}
        </div>
        {% endif %}
        <div class="{% if page.excerpt_graphic %}col-md-6{% endif %} col-12">
            {% if page.excerpt_header %}<h2>{{ page.excerpt_header }}</h2>{% endif %}
            {{ page.excerpt|richtext }}
        </div>
    </div>
    {% endif %}

    <div class="col-sm">
        <h3><i>{{page.location}} - {{page.start_date}}</i></h3>
        {% if page.event_image %}
        <div>
            {% image page.event_image max-1000x300 %}
        </div>
        {% endif %}
        <div>
            {{page.body}}
        </div>
        {% if page.keynotes %}
            <h3>Keynotes</h3>
            <div class="card card-block bg-light"> {{page.keynotes|richtext}} </div>
        {% endif %}
    </div>

    {% if page.body %}
        <div class="detail_page_content">
            {% for block in page.body %}
                {% include_block block %}
            {% endfor %}
        </div>
    {% endif %}
    
    
{% endblock %}
