{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block body_class %}template-event{% endblock %}

{% block hero %}
    {% include_block page.hero with title=page.title subtitle=subtitle %}
{% endblock %}

{% block content %}
    <div class="col-sm">
        <h3><i>{{page.location}} - {{page.date}}</i></h3>
        <div>
            {{page.body}}
        </div>
		{% if page.keynotes %}
		  <h3>Keynotes</h3>
          <div class="card card-block bg-light"> {{page.keynotes|richtext}} </div>
		{% endif %}
    </div>
{% endblock %}
