{% extends "list_base.html" %}

{% block list %}
    {% for child in ordered_children.specific %}
        {% if forloop.counter0|divisibleby:2 %}
        <div class="row">
        {% endif %}
        <div class="col-12 col-md-6 event_list_item_container">
            {% include 'events/event_list_item.html' with event=child %}
        </div>
        {% if forloop.counter|divisibleby:2 %}
        </div>
        {% else %}
        {% if forloop.last %}
        </div>
        {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}
