{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
<div class="row detail_page_highlight">
    <div class="col-12">
        <div class="content_container">
            <div class="content_block">
                <div class="row{% if last %} row_space_below{% endif %}">
                    {% if value.image %}
                    <div class="col-md-6 col-12 detail_page_image_container">
                        {% image value.image original class="detail_page_highlight_graphic" %}
                    </div>
                    {% endif %}
                    <div class="{% if value.image %}col-md-6{% endif %} col-12">
                        {{ value.text|richtext }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>