{% extends 'mini_base.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block object-type %}project{% endblock %}

{% block mini-content %}
<div class="row mini_project extra_top_padding">
    <div class="col-1"></div>
    <div class="col-lg-4 col-md-11" style="padding-top:60px;">
        <h1>Showcase:</h1>
        <h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
        {% if project.date %}
            <div class="project-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ project.date|date:"F d, Y" }}</div>
        {% endif %}
        <div class="project-body">
            {{ project.exerpt|richtext }}
        </div>
        
        <a href="{{project.url}}"><div class="project_button">Register for React Native</div></a>
    </div>
    <div class="col-lg-7 d-none d-md-block project_graphic">
        {% image project.graphic fill-778x651 style="border-radius:15px" %}
    </div>
</div>
{% endblock %}

{% block list-link %}
      <a href="{% slugurl 'projects' %}"><i class="fas fa-film film-icon"></i> View all projects here</a>
{% endblock %}
