{% load wagtailcore_tags %}

<div class="row">
    {% if value|length == 2 %}
        {% with first=value|first %}
            {% if first.block_type == "paragraph_block" %}
                <div class="col-12 col-md-8 detail_page_column">
                    {% include_block first %}
                </div>
                <div class="col-12 col-md-4 detail_page_column">
                    {% include_block value.1 %}
                </div>
            {% else %}    
                {% for block in value %}
                    <div class="col-12 col-md-6 detail_page_column">
                        {% include_block block %}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% else %}
        <div class="col-12">
            {% include_block value|first %}
        </div>
    {% endif %}
</div>