.mini_event {
    font-family: $muli_regular;
    background-color: $grey;
    min-height: 680px;
    color: $indigo_blue;

    a {
        text-decoration:none;
    }

    h1 {
        text-transform: none; // Override all caps
        font-family: $muli_regular;
        font-size: 36px;
        font-weight: $extra_bold_weight;
    }

    h2 {
        font-family: $muli_regular;
        font-size: 32px;
        a {
            color: $indigo_blue;
            text-decoration: none;
        }
        a:hover {
            color: $indigo_blue;
        }
    }

    .event_date {
        font-size: 24px;
        color: $mid_blue;
    }

    .more_link {
        font-size: 28px;
        font-weight: $extra_bold_weight;
        text-decoration: underline;
        a {
            color: $indigo_blue;
        }
    }

    .event_button {
        margin-top:60px;
        max-width: 540px;
        min-height: 48px;
        background-color: $mid_blue;
        font-size: 21px;
        border-radius: 10px;
        color: $white;
        font-weight: $extra_bold_weight;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .event_body {
        color: $black;
        font-size: 18px;
        .event_label {
            font-weight: $bold_weight;
        }
    }

    .event_graphic {
        border-radius: 10px;
    }
  }