@import url('https://fonts.googleapis.com/css?family=Muli:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$muli_regular: Muli, Arial;

$arial: Arial;

$helvetica: Helvetica;

$open_sans: 'Open Sans';