@import 'colors';
@import 'fonts';

//xs and up
.banner {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    min-height: 80px;

    h1 {
        font-size: 20px;
        margin-bottom: 20px;
        text-transform: none; // Override all caps
        font-weight: $light_weight;
        color: $indigo_blue;
    }

    h2 {
        font-size: 28px;
        margin-top: 0;
        margin-bottom: 20px;
    }
        
    a {
        text-decoration: none;
        cursor: pointer;
    }

    .line {
        width: 100%;
        background-color: $grey;
        display: block;
    }

    .more_button {
        width: 160px;
    }

    .talk_video {
        margin-bottom: 20px;
    }

    .mini_graphic_container {
        display: flex;
        align-items: center;
    }

    .mini_graphic {
        width: 100%;
        max-height: 540px;
        height: auto;
        object-fit: cover;
    }

    .mini_icon {
        color: $indigo_blue;
    }
}

.mini_summary {
    font-size: 16px;
}

.mini_author {
    color: $charcoal_grey;
    font-style: italic;
}

.mini_button {
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $extra_bold_weight;
}

.more_button {
    @extend .mini_button;
    color: $dark_blue;
    background-color: $white;
    border: 2px solid black;
    min-height: 42px;
    font-size: 16px;
}

.learn_more_button {
    @extend .mini_button;
    color: $white;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 360px;
    min-height: 48px;
    background-color: $mid_blue;
}

.mini_project {
    background-color: $dark_blue;
    min-height: 722px !important;
    color: $white;

    h1 { 
        color: $white !important;
    }

    h2 {
        a {
            color: $bright_yellow;
        }
    }
}


.mini_talk {
    background-color: $white;
    color: $charcoal_grey;

    h2 {
        a {
            color: $mid_blue;
        }

        margin-bottom: 60px;
    }
}

.mini_event {
    background-color: $grey;
    color: $charcoal_grey;

    h2 {
        a {
            color: $mid_blue;
        }

        margin-bottom: 12px !important;
    }

    .event_mini_date {
        font-size: 20px;
        margin-bottom: 36px;
    }
}

//sm and up
@media (min-width: 576px) {
    .banner {

        h1 {
            font-size: 24px;
        }

        .more_button {
            width: 160px;
        }
    }


}

//md and up
@media (min-width: 768px) {
    .banner {
        padding-top: 118px;
        padding-bottom: 118px;
        min-height: 680px;
        padding-right: 60px;
        padding-left: 60px;

        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 48px;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .project_mini_graphic {
            margin-top: 30px;
        }
    }

    .talk_video {
        margin-bottom: 0%;
    }

    .talks_title {
        max-width: 85%;
    }
}

@media (min-width: 992px) {
    .learn_more_button {
        margin-bottom: 0px;
    }

    .mini_graphic {
        padding-left: 60px;
    }

    .talk_video {
        padding-right: 60px;
    }

    .mini_summary {
        font-size: 18px;
        line-height: 1.5em;
    }

    .more_button {
        font-size: 18px;
    }

    .mini_button {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    .mini_summary {
        font-size: 20px;
        line-height: 1.7em;
    }

    .more_button {
        font-size: 20px;
    }

    .mini_button {
        font-size: 20px;
    }
}

@media (min-width: 1400px) {
    .talks_title {
        max-width: 70%;
    }
}