@import 'colors';
@import 'fonts';

.presentation_banner {
    background-color: $grey;
    padding-top: 36px;
}

.presentation {
    font-family: $muli_regular;
    min-height: 170px;
    //margin-left: 10px;
    //margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: $white;

    a {
        text-decoration: none;
        cursor: pointer;
    }

    .container {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .presentation_author {
        margin-top: 10px;
        font-size: 16px;
        color: $mid_blue;
    }

    .presentation_title {
        font-size: 18px;
        color: $indigo_blue;
        font-weight: $extra_bold_weight;
    }

    .presentation_graphic {
        background-size: cover;
        background-position: center;
        background-origin: content-box;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    }

    .presentation_graphic_container {
        padding-left: 0px;
        padding-right: 0px;
    }
}


@media (min-width: 300px) and (max-width: 567px) { 
    .presentation {

        .presentation_graphic_container {
            display: none;
        }

        .container {
            max-width: 100% !important;
            flex-basis: 100% !important;
            padding-left: 30px;
        }
    }
}

@media(min-width: 600px) {
    .presentation {
        .presentation_title {
            font-size: 20px;
        }

        .presentation_author {
            font-size: 18px;
        }
    }
}


@media (min-width: 768px){ 
    .presentation {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (min-width: 985px) {
    .presentation_banner {
        padding-top: 60px;
    }

    .presentation {

        .container {
            padding-top: 36px;
            padding-bottom: 36px;
            padding-left: 36px;
            padding-right: 36px;
        }

    }
}

@media (min-width: 1200px) {
    .presentation {
        height: 199px;
    }

    .presentation_banner {
        .content_container {
            max-width: 1240px;
        }
    }
}