.mini_talk {
    font-family: $muli_regular;
    background-color: $white;
    min-height: 680px;
    color: $indigo_blue;

    a {
        text-decoration:none;
    }
    
    h1 {
        text-transform: none; // Override all caps
        font-size: 36px;
        font-weight: $extra_bold_weight;
    }

    h2 {
        font-size: 32px;
        a {
            color: $indigo_blue;
            text-decoration: none;
        }
        a:hover {
            color: $indigo_blue;
        }
    }

    .talk_date {
        font-size: 24px;
        color: $mid_blue;
    }

    .talk_excerpt {
        color: $black;
        font-size: 18px;
        margin-top: 30px;
    }

    .talk_button {
        margin-top:60px;
        max-width: 540px;
        min-height: 48px;
        background-color: $mid_blue;
        font-size: 21px;
        border-radius: 10px;
        color: $white;
        font-weight: $extra_bold_weight;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .more_talks_link {
        margin-top: 30px;
        font-size: 28px;
        font-weight: $extra_bold_weight;
        text-decoration: underline;
        a {
            color: $indigo_blue;
        }
    }

    .talks_video {
        max-height: 383px;
        max-width: 680px;
    }
}