@import 'colors';
@import 'fonts';
@import 'minis';
@import 'detail_pages';
@import 'list_pages';

body {
  margin: 0;
  padding: 0;
  font-family: $muli_regular, sans-serif;
}

// html, body, and body_wrapper settings to
// lock the footer to the bottom of the page.
html, body {
    width: 100%;
    height: 100%;
}

article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.header {
  min-height: 113px;
  background-color: $charcoal_grey;
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 80px;
  padding-bottom: 15px;

  .navbar-brand {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    min-height: 80px;
  }
}

.hero_banner {
  background-color: #FFFFFF;
  color: $black;
  font-family: $muli_regular;
  padding-bottom: 64px;
  padding-right: 130px;
  padding-left: 130px;
  padding-top: 120px;
  background-position: right top;
  background-repeat: no-repeat;
}


.hero_banner_with_graphic {
  background-color: #FFFFFF;
  color: $black;
  font-family: $muli_regular; 
}

.hero_subject {
  color: $indigo_blue;
  font-size: 28px;
  font-weight: $light_weight;
}

.hero_title {
  color: $dark_blue;
  font-size: 52px;
  margin-bottom: 30px;
  color: $mid_blue;
}


.list_hero_title {
  color: $dark_blue;
  font-size: 72px;
  color: $mid_blue;
}

.hero_copy_header {
  font-size: 21px;
  color: $charcoal_grey;
  font-weight: $extra_bold_weight;
}

.hero_copy {
  font-size: 16px;
  color: $charcoal_grey;
  margin-bottom: 20px;
}

.list_hero_copy {
  font-size: 20px;
  color: $charcoal_grey;
  line-height: 1.7em;
}

.hero_graphic {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.column_with_padding {
  padding-bottom: 36px !important;
  padding-right: 30px !important;
  padding-top: 50px !important;
  padding-left: 30px !important;
}

.column_with_right_padding {
  padding-bottom: 36px !important;
  padding-right: 30px !important;
  padding-top: 50px !important;
  padding-left: 30px !important;
}

@media (min-width: 768px) {
  .column_with_padding {
    padding-left: 130px !important;
    padding-bottom: 64px !important;
    padding-top: 120px !important; 
    padding-right: 30px !important;
  }

  .column_with_right_padding {
    padding-bottom: 64px !important;
    padding-right: 130px !important;
    padding-top: 120px !important;
    padding-left: 30px !important;
  }

  .hero_copy {
    margin-bottom: 0px;
  }

  .list_hero_copy {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 768px) {
  .hero_banner {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    min-height: 80px;
  }

  .hero_title {
    font-size: 32px;
  }

  .list_hero_title {
    font-size: 32px;
  }

  .hero_subject {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .list_hero_title {
    padding-right: 90px;
  }

  .list_hero_copy {
    padding-left: 90px;
    padding-right: 90px;
  }
}

.rss_feed {
  padding-right: 130px;
  padding-left: 130px;
  padding-bottom: 64px;
}

.hero_banner_graphic {
  max-height: 590px;
  padding-left: 0% !important;
  padding-right: 0% !important;
}

.red_line {
  background-color: $coral_red;
  width: 120px;
  height: 4px;
  border-radius: 30px;
  margin-bottom: 30px;
  display: block;
}

.nav-link {
  margin-right: 2em;
  font-size: 18px;
  font-family: $muli_regular;
  font-weight: $extra_bold_weight;

  &:last-of-type {
    margin-right: 0;
  }

  & i.fab {
    font-size: 24px;

    &:hover {
      color: #ddd;
    }
  }

  & a {
    color: $white !important;
  }
}

h3, h3 a {
  font-size: 1.75rem;
  padding-bottom: 15px;
  font-weight: bold;
}

h4, h4 a {
  font-size: 1.5rem;
  font-weight: bold;
}

h5, h5 a {
  font-size: 1.25rem;
  font-weight: bold;
}

h1 a:hover, h1 a:focus,
h2 a:hover, h2 a:focus,
h3 a:hover, h3 a:focus,
h4 a:hover, h4 a:focus,
h5 a:hover, h5 a:focus {
  text-decoration: none;
}

.excellaEvent {
  font-family: $muli_regular, $open_sans, sans-serif;
}

.btn-primary {
  background-color: $mid_blue;
  border-color: $mid_blue;
  font-size: 1.25em;
  border: none;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: rgba(93,135,161,0.8);
  border-color: rgba(93,135,161,0.8);
}

.badgeMargin {
  margin-bottom: 2em;
}

.well {
  border: none !important;
}

.section-link, .eventMoreLink {
  color: $mid_blue;
}

h3, h4 {
  a:hover {
    color: $bright_yellow;
  }
}

.link-block {
  text-align: right;

  & .fa-twitter, .fa-facebook-f, .fa-github {
    color: $white;
    margin-left: 1.5em;

    &:hover {
      color: $aqua_blue;
    }
  }
}

.excellaLink {
  font-size: 18px;
  color: $aqua_blue;

  &:hover {
    color: $aqua_blue;
  }
}

input {
  color: $charcoal_grey;
}

.excella-labs-logo {
  height: 27px;
  width: 218px;
}

.hero {
  height: 300px;
  background-color: $indigo-blue;
  padding-top: 75px;
}

.hero-subject {
  color: $bright_yellow;
  font-size: 20px;
  font-weight: 200;
}

.hero-title {
  color: $white;
  font-size: 38px;
  font-weight: 600px;
}

.hero-byline {
  color: $aqua_blue;
  font-size: 20px;
  font-weight: 200;

}

.container {
  padding-top: 75px;
}

.footer {
  background-color: #353535;
  padding: 4em 0;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;

  & .container-fluid {
    padding-top: 0;
  }

  & .excella-opportunities {
    margin-top: 35px;
    
    h6 {
      margin-bottom: 0px;  
    }

    a {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.2;
      display: block;
      color: $aqua_blue;

      &:hover {
        color: $aqua_blue;
      }
    }
  }
}
@media (min-width: 768px) {
  .footer {
    padding-left: 130px;
    padding-right: 130px;
  }
}

.emailLabel {
  font-size: 18px;
  font-family: $muli_regular;
}

.emailInput {

  max-width: 380px;
  height: 38px;
  margin-right: 0%;
}

.mini_label {
  font-size: 18px;
  font-weight: $bold_weight;
}

.list-item .mini {
  .title:before {
    content: none;
  }

  .list-link {
    display: none;
  }
}

.footerSubscribe {
    clear: both;
    background-color: #aaa;
    border: 0 none;
    border-radius: 4px;
    transition: all 0.23s ease-in-out 0s;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    width: 160px;
    height: 48px;
    line-height: 32px;
    margin: 0 5px 10px 0;
    padding: 0 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
}

.detail {
  color: $charcoal_grey;
  margin-bottom: 2.5em;

  h3 {
    margin-bottom: 0.75em;
  }

  h3 span {
    padding-bottom: 5px;
    border-bottom: 2px dashed $light_grey;
  }
}