{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}

<div class="list_item">
    <div class="row">
        <div class="col-12 col-lg-6">
            {% block graphic %}
            {% if item.featured_image %}
                {% image item.featured_image original as background %}
                <a href="{{ item.url }}"><div class="list_item_graphic" style="background-image:url({{ background.url }})"></div></a>
            {% else %}
                <a href="{{ item.url }}"><div class="list_item_graphic" style="background-image:url({% static 'img/projects.jpg' %})"></div></a>
            {% endif %}
            {% endblock %}
        </div>
        <div class="col-12 col-lg-6">
            <div class="list_item_content">
                <a href="{{ item.url }}">
                    <div class="list_item_title">
                        {{ item.title|truncatechars:"75" }}
                    </div>
                </a>
                <hr style="background-color:black; margin-top: 16px; margin-bottom: 20px;">
                <div class="list_item_body">
                    {{ item.summary|truncatechars:320|richtext }}
                </div>
            </div>
            <div class="button_container">
                <a class="list_item_button" href="{{ item.url }}"><div>Learn More</div></a>
            </div>
        </div>
    </div>
</div>
