{% extends 'home/base_page_with_hero.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content_class %}detail_page_body{% endblock %}

{% block content %}

    {% if page.body %}
    <div class="row detail_page_excerpt align-items-center">
        <div class="col-12">
            {% with block=page.body|first %}
                {% if block.block_type == "paragraph_block" %}
                    <div class="row">
                        {% if block.value.image %}
                            <div class="col-md-6 col-12">
                                {% image block.value.image original class="detail_page_graphic" %}
                            </div>
                        {% endif %}
                        <div class="{% if block.value.image %}col-md-6{% endif %} col-12">
                            {{ block.value.text|richtext }}
                        </div>
                    </div>
                {% else %}
                    {% include_block block %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    {% endif %}

    {% if page.body|length > 1 %}
        <div class="detail_page_content">
            {% for block in page.body %}
                {% if forloop.first %}
                {% else %}
                    {% include_block block %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    
{% endblock %}
