{% extends 'mini_base.html' %}
{% load wagtailcore_tags %}

{% block object-type %}talk{% endblock %}

{% block mini-content %}
    <div class="col-6">
        <h4><a class="title" href="{{talk.url}}">{{ talk.title }}</a></h4>
        <h5 class="author"><i>By {{ talk.author }}</i></h5>
        <p class="exerpt">{{ talk.exerpt|richtext }}</p>
    </div>
    <div class="col-6">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{talk.video_id}}"></iframe>
        </div>
    </div>
{% endblock %}

{% block list-link %}
      <a href="{% slugurl 'talks' %}"><i class="fas fa-film film-icon"></i> Watch all talks here</a>
{% endblock %}
