{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="col-12 col-md-6 col-xl-4">
    <div class="row talk_micro">
        <div class="col-4 micro_graphic_container">
            <a href="{{ talk.url }}">
                <div class="micro_graphic" style="background-image: url(https://img.youtube.com/vi/{{ talk.video_id }}/0.jpg)">
                </div>
            </a>
        </div>
        <div class="col-8 container">
            <div class="content">
                <a href="{{ talk.url }}">
                    <div class="talk_micro_title">
                        {{ talk.title|truncatechars:65 }}
                    </div>
                </a>
                {% if talk.author %}
                    <div class="talk_micro_author">By {{ talk.author }}</div>
                {% endif %}
            </div>
        </div>
    </h2>
    </div>  
</div>