{% extends 'mini_base.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block object-type %}event{% endblock %}

{% block mini-content %}
<div class="col-12">
    <div class="content_container">

  <div class="row">
    <div class="col-sm-6 col-12">
      <h1>Featured Event:</h1>
    </div>
    <div class="col-sm-6 col-12">
        <a class="float-sm-right" href="{{ event.get_parent.url }}"><div class="more_button">More Events</div></a>
    </div>
    <div class="col-12">
        <hr class="line">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <h2><a href="{{ event.url }}">{{ event.title }}</a></h2>
        <div class="event_mini_date">
          <i class="fa fa-calendar mini_icon" aria-hidden="true"></i><span class="space"></span>
          {{ event.start_date|date:"F d"  }}{% if event.end_date %} - {{ event.end_date|date:"F d"  }}{% endif %}<span class="space"></span>|<span class="space"></span>{{ event.location }}
        </div>
    </div>
    <div class="col-lg-5 col-12 event_body">
      <div>
        <div class="mini_summary">
          {{event.summary|richtext}}
        </div>
        <a href="{{ event.url }}"><div class="learn_more_button">Learn more</div></a>
      </div>
    </div>
    <div class="col-lg-7 col-12 mini_graphic_container">
      {% if event.featured_image %}
        {% image event.featured_image original class="mini_graphic" %}
      {% else %}
        <img src="{% static 'img/events.jpg' %}" class="mini_graphic"/>
      {% endif %}
    </div>
  </div>
  </div>
</div>
{% endblock %}
