{% block content %}

<div class="footer">
    <div class="container-fluid">
        <div class="content_container">
            <div class="row">
                <div class="col-md-9 col-sm-8 col-12">
                    <div id="mc_embed_signup">
                        <form action="//excella.us12.list-manage.com/subscribe/post?u=f532a60ec10561bcd92e0905e&amp;id=bc8c5285cc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate" _lpchecked="1">
                            <div id="mc_embed_signup_scroll">
                                <div class="mc-field-group">
                                    <label for="mce-EMAIL" class="emailLabel">Stay in touch</label>
                                    <br>
                                    <input type="email" name="EMAIL" class="form-control required emailInput mce_inline_error" id="mce-EMAIL" placeholder="yourname@website.com" aria-required="true" aria-invalid="true"><br/>
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display: none;"></div>
                                    <div class="response" id="mce-success-response" style="display: none;"></div>
                                </div>
                                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                    <input type="text" name="b_f532a60ec10561bcd92e0905e_3714d81467" tabindex="-1" value="">
                                </div>
                                <div class="clear">
                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="footerSubscribe"><br/><br/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-12">
                    <div class="link-block">
                        <div>
                            <a href="https://twitter.com/excellaco" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="https://www.facebook.com/excellaconsulting/" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://github.com/excellalabs" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                        <div><a class="excellaLink" href="https://www.excella.com" target="_blank" rel="noopener noreferrer">www.excella.com</a>
                        </div>
                        <div class="excella-opportunities">
                                <h6>Like what you see here?</h6>
                            <a href="https://www.excella.com/careers" target="_blank" rel="noopener noreferrer">Check out our opportunities</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
