{% load static %}

<div class="header">
    <div class="container">
        <nav class="navbar navbar-expand-md">
            <a href="/" class="navbar-brand">
                <img src='{% static "img/Excella_labs_red_white.png" %}' class="excella-labs-logo"/>
            </a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    {% for nav_page in settings.home.NavLinks.pages %}
                        <a class="nav-item nav-link" href="{{ nav_page.value.url }}">{{ nav_page.value.title }}</a>
                    {% endfor %}
                    <a class="nav-item nav-link" href="https://github.com/excellalabs/labs-website-wagtail" target="_blank" rel="noreferrer noopener">
                        <i class="fab fa-github github-icon"></i>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>
